<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]備品管理系統</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/vendor/aos/aos.css">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-multiselect.min.css" />
    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            background-color: #ebebeb;
        }

        #myHeader {
            background: #37517e;
            transition: all 0.5s;
            z-index: 997;
            padding: 0px 0;
        }

        section[name='headSec'] {
            padding: 40px 0;
        }

        section[name='mainSec'], section[name='footSec'] {
            padding: 0 0;
        }

        .layoutImg {
            width: 60px;
            height: 50px;
        }

        .container {
            max-width: 85%;
            height: 100%;
        }

        #outTable {
            overflow-y: auto;
            max-height: 800px;
        }

        .myCard {
            box-shadow: 5px 5px 8px;
            border-top: solid #9e9e9e 1px;
            border-right: solid #9e9e9e 1px;
            border-left: solid #9e9e9e 3px;
            border-bottom: solid #9e9e9e 3px;
        }

        .sticky-th1 {
            position: sticky;
            background: #7c92a6;
            top: -17px;
            opacity: 0.9;
        }

        .scrollto {
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <section name='headSec'>
        <header id="myHeader" class="fixed-top d-flex">
            <div class="container d-flex align-items-center" name="navBar">
                <a class="navbar-brand" href="./Home">
                    <img class="layoutImg" src="~/img/CarUX_Logo_n.png" />
                </a>
                <nav id="navbar" class="navbar">
                    @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>*@
                    <ul>
                        <li class="dropdown">
                            <a href="#"><span>物料管理</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a class="dropdown-item" asp-controller="Spare" asp-action="Index">基本資訊</a></li>
                                <li><a class="dropdown-item" asp-controller="Warehouse" asp-action="Index">入庫</a></li>
                                <li><a class="dropdown-item" asp-controller="Release" asp-action="Index">領用</a></li>
                                <li><a class="dropdown-item" asp-controller="Inspect" asp-action="Index">檢驗</a></li>
                                <li><a class="dropdown-item" asp-controller="Fix" asp-action="Index">維修</a></li>
                                <li><a class="dropdown-item" asp-controller="Return" asp-action="Index">歸還</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link scrollto" asp-area="" asp-controller="Expendables" asp-action="Index">耗材</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" asp-area="" asp-controller="Components" asp-action="Index">設備零件</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" asp-area="" asp-controller="Jigs" asp-action="Index">治具</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" asp-area="" asp-controller="WirePanel" asp-action="Index">線板材</a>
                        </li>
                        <li>
                            <a class="nav-link scrollto" asp-area="" asp-controller="Sample" asp-action="Index">Sample</a>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
            </div>
            <div class="d-flex align-items-center" style="margin-right:5px">
                <a style="color:white">Hi @Context.User.Claims.FirstOrDefault(m => m.Type == "Account").Value　</a>
                <a href="@Url.Action("Logout","Account")">登出</a>
            </div>
        </header>
    </section>

    <section name="mainSec">
        @RenderBody()
    </section>

    @*<main id="main">
            <section style="padding: 80px 0 0px 0;">
                @RenderBody()
            </section>
        </main>*@

    @*<section name="footSec">
        <div class="container">
            &copy; 2022 - SpareManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </section>*@

    <script type="text/javascript">

        function isJsonString(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        }
    </script>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/lib/bootstrap5/js/bootstrap.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap-multiselect.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-multiselect.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- include BlockUI -->
    <script src="~/lib/jquery-blockUI/dist/jquery.blockUI.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
    <script type="text/javascript">
        //寫在_Layout.cshtml 供其他頁面使用
        //為所有的$.ajax呼叫設定預設值，當遇到StatusCode為401時，頁面導至登入頁
            $.ajaxSetup({
                statusCode: {
                    401: function () {//未授權，Unauthorized
                        //JS前端導頁
                       window.location.href = "@Url.Action("Index","Account");"

                    }
                }
            });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
