@model SpareManagement.Models.SpareViewModel


<div class="container">
    <h3>物料管理</h3>
    <div class="card">
        <div class="card-header" style="background-color: slategrey; color: white; font-size: 20px">建檔</div>
        <div class="card-body">
            <form id="form">
                <div class="row d-flex">
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="CategoryId"></label>
                        </div>
                        <div class="col-lg-9">
                            <select class="form-select" asp-for="CategoryId" asp-items="ViewBag.SpareType" onchange="SpareTypeChange(this)">
                                @*<option value=0 selected>無</option>*@
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-9" style="display:flex">
                        <div class="col-lg-3">
                            <label class="col-form-label">定義：</label>
                        </div>
                        <div class="col-lg-9">
                            <label id="SpareDesc" class="col-form-label" style="font-weight:600"></label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="Name"></label>
                            <span asp-validation-for="Name" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-9">
                            <input id="name" asp-for="Name" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="Spec"></label>
                            <span asp-validation-for="Spec" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-9">
                            <input id="spec" asp-for="Spec" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="PurchaseId"></label>
                            <span asp-validation-for="PurchaseId" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-7">
                            <input id="purchaseId" asp-for="PurchaseId" class="form-control" type="text" value="" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="Equipment"></label>
                            <span asp-validation-for="Equipment" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-7">
                            <input id="equipment" asp-for="Equipment" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="PurchaseDelivery"></label>
                        </div>
                        <div class="col-lg-7 d-flex">
                            <div class="col-lg-11">
                                <input asp-for="PurchaseDelivery" class="form-control" type="number" value="60" min="0" />
                            </div>
                            <div class="col-lg-1">
                                <label class="col-form-label">天</label>
                                @*<span style="margin-left:5px;"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="UseLocation"></label>
                            <span asp-validation-for="UseLocation" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-7">
                            <select id="selLoc" multiple="multiple" asp-for="UseLocation">
                                @foreach (var node in ViewBag.NodeList)
                                {
                                    var temp = "node" + @node.TypeId;
                                    <option id=@temp value=@node.TypeId>@node.TypeName</option>
                                }
                            </select>
                        </div>
                        @*@foreach (var node in ViewBag.NodeList)
                {
                    var temp = "node" + @node.TypeId;
                    <label>
                        <input id=@temp type="checkbox" class="location" value=@node.TypeId /> @node.TypeName
                    </label>
                }*@
                        @*<input id="useLocation" asp-for="UseLocation" type="hidden" value="" />*@
                    </div>
                    <div class="col-lg-2 d-flex">
                        <div class="col-lg-10">
                            <label class="col-form-label" asp-for="IsCommercial"></label>
                        </div>
                        <div class="col-lg-1">
                            <input id="isCommercial" asp-for="IsCommercial" class="custom-checkbox" type="checkbox" value="false" onclick="onClick(this)" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-9">
                            <label class="col-form-label" asp-for="IsNeedInspect"></label>
                        </div>
                        <div class="col-lg-3">
                            <input id="isNeedInspect" asp-for="IsNeedInspect" class="custom-checkbox" type="checkbox" value="false" onclick="onClick(this)" />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="InspectCycle"></label>
                        </div>
                        <div class="col-lg-7 d-flex">
                            <div class="col-lg-11">
                                <input id="inspectCycle" asp-for="InspectCycle" class="form-control" type="number" value="0" min="0" />
                            </div>
                            <div class="col-lg-1">
                                <label class="col-form-label">天</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-10">
                            <label class="col-form-label" asp-for="IsSpecial"></label>
                        </div>
                        <div class="col-lg-1">
                            <input asp-for="IsSpecial" class="custom-checkbox" type="checkbox" value="false" onclick="onClick(this)" />
                        </div>
                    </div>
                    <div class="col-lg-2 d-flex">
                        <div class="col-lg-10">
                            <label class="col-form-label" asp-for="IsKeySpare"></label>
                        </div>
                        <div class="col-lg-1">
                            <input id="isKeySpare" asp-for="IsKeySpare" class="custom-checkbox" type="checkbox" value="false" onclick="onClick(this)" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="SafetyCount"></label>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="SafetyCount" class="form-control" type="number" value="0" min="0" />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="Placement"></label>
                            <span asp-validation-for="Placement" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-9">
                            <input id="placement" asp-for="Placement" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="CreateUser"></label>
                            <span asp-validation-for="CreateUser" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-7">
                            <input id="createUser" asp-for="CreateUser" class="form-control" type="text" value="" />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label asp-for="Manager"></label>
                            <span asp-validation-for="Manager" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-7">
                            <input id="manager" asp-for="Manager" class="form-control" type="text" value="" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-2">
                            <label class="col-form-label" asp-for="Memo"></label>
                        </div>
                        <div class="col-lg-9">
                            <input asp-for="Memo" class="form-control" type="text" value="" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-2">
                        <input id="btn" type="submit" class="btn btn-sm btn-primary" value="建立" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {

        SpareTypeChange({ value: "1" });

        $("#form").submit(function (e) {
            e.preventDefault();
            //var _loc = getLocation();
            //if (_loc == '') {
            //    $("#errMsg").removeAttr('hidden');
            //    return false;
            //}
            //else {
            //    $("#errMsg").hide();
            //}
            //$('#useLocation').val(_loc);

            var _isValid = $('#form').valid();
            if (_isValid) {
                $.blockUI();
                $.ajax({
                    type: "POST",
                    url: "/Spare/Create",
                    dataType: 'json',
                    data: $("#form").serialize(),
                    success: function (result) {
                        //$('#divList').removeAttr('hidden');
                        //$('#btn').attr('disabled', true);
                        //$('input').attr("disabled", true);
                        //$('select').attr("disabled", true);
                        if (result != '') {
                            alert(result);
                            $.unblockUI();
                        }
                        else {
                            alert('建檔成功');
                            location.href = "/Spare/Index";
                        }
                        //var col = ``
                        //result.forEach(function (row) {
                        //    col += `<tr><td>${row.no}</td><td>${row.name}</td><td>${row.newSpareType}</td><td>${row.serialNo}</td></tr>`
                        //});
                        //$('#divList').append(`<table class="table">
                        //    <thead>
                        //    <tr>
                        //        <th scope="col">編號</th>
                        //        <th scope="col">名稱</th>
                        //        <th scope="col">項目</th>
                        //        <th scope="col">流水號</th>
                        //    </tr>
                        //    </thead><tbody>${col}</tbody></table>`);
                    }
                });
            }
        });
        $("#selLoc").multiselect({
            enableClickableOptGroups: true,
        });
    });


    function SpareTypeChange(item) {
        switch (item.value) {
            case "1":
                $("#SpareDesc").html('用以維護生產設備以外的一般耗材,如螺絲、氣管、電線...(潤滑油、鐵氟龍膠帶屬於一般耗材)');
                setInput(true)
                setInspect(true)
                break;
            case "2":
                $("#SpareDesc").html('生產治具以外之工具,設備專屬零件、金具、吸嘴、設備不可或缺之配件');
                setInput(false)
                setInspect(true)
                break;
            case "3":
                $("#SpareDesc").html('輔助生產之工具,可隨機種切換變更。切換後需入庫管理保存者');
                setInput(false)
                setInspect(false)
                break;
            case "4":
                $("#SpareDesc").html('測試點燈線板材類');
                setInput(false)
                setInspect(false)
                break;
        }
    }

    function setInput(isBool) {
        if (isBool) {
            //$('#isKeySpare').prop('disabled', isBool);
            //$('#isCommercial').prop('disabled', isBool);
            $('#equipment').prop('disabled', isBool);
        }
        else {
            //$("#isKeySpare").removeAttr('disabled');
            //$("#isCommercial").removeAttr('disabled');
            $("#equipment").removeAttr('disabled');
        }
    }

    function setInspect(isBool) {
        if (isBool) {
            $('#isNeedInspect').prop('disabled', isBool);
            $('#inspectDate').prop('disabled', isBool);
            $('#inspectCycle').prop('disabled', isBool);
        }
        else {
            $("#isNeedInspect").removeAttr('disabled');
            $("#inspectDate").removeAttr('disabled');
            $("#inspectCycle").removeAttr('disabled');
        }
    }

    function getLocation() {
        @{
            var loc = "";
            foreach (var node in ViewBag.NodeList)
            {
                loc += "#node" + node.TypeId + ",";
            }
            loc = loc.Remove(loc.Length - 1);
         }
        var value = ''
        $("@loc").each(function () {
            if (this.checked) {
                value += this.value + ',';
            }
        });
        value = value.slice(0, -1);
        return value
    }

    function onClick(el) {
        if (el.value == 'false') {
            el.value = 'true';
        }
        else {
            el.value = 'false';
        }
    }


    function handleData() {
        var form_data = new FormData($('#form'));
        if (!form_data.has("langs[]")) {
            document.getElementById("chk_option_error").style.visibility = "visible";
            return false;
        }
        else {
            document.getElementById("chk_option_error").style.visibility = "hidden";
            return true;
        }

    }
    </script>

}
