@model SpareManagement.Models.SpareEditModel

<style>
    input[type='checkbox'] {
        width: 20px; 
        height: 20px;
    }

</style>

<div class="container">
    <h3>物料管理</h3>
    <div class="card">
        <div class="card-header" style="background-color: slategrey; color: white; font-size: 20px">編輯</div>
        <div class="card-body">
            <div></div>
            <div></div>
            <form id="form">
                <input type="hidden" asp-for="PartNo" value="@Model.PartNo" />
                <div class="row d-flex">
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-4">
                            <label class="col-form-label">@Html.DisplayNameFor(model => model.Category)：</label>
                        </div>
                        <div class="col-lg-8">
                            <label class="col-form-label">@Model.Category</label>
                        </div>
                    </div>
                    <div class="col-lg-9 d-flex">
                        <div class="col-lg-2">
                            <label class="col-form-label">@Html.DisplayNameFor(model => model.SpareDesc)：</label>
                        </div>
                        <div class="col-lg-10">
                            <label class="col-form-label">@Model.SpareDesc</label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="Name"></label>
                            <span asp-validation-for="Name" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-9">
                            <input id="name" asp-for="Name" class="form-control" type="text" value="@Model.Name" disabled />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="Spec"></label>
                            <span asp-validation-for="Spec" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-9">
                            <input id="spec" asp-for="Spec" class="form-control" type="text" value="@Model.Spec" disabled />
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="PurchaseId"></label>
                            <span asp-validation-for="PurchaseId" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-7">
                            <input id="purchaseId" asp-for="PurchaseId" class="form-control" value="@Model.PurchaseId" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="Equipment"></label>
                            <span asp-validation-for="Equipment" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-7">
                            <input id="equipment" asp-for="Equipment" class="form-control" type="text" value="@Model.Equipment" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="PurchaseDelivery"></label>
                        </div>
                        <div class="col-lg-7 d-flex">
                            <div class="col-lg-11">
                                <input asp-for="PurchaseDelivery" class="form-control" type="number" value="@Model.PurchaseDelivery" disabled />
                            </div>
                            <div class="col-lg-2">
                                <label class="col-form-label">天</label>
                                @*<span style="margin-left:5px;"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="UseLocation"></label>
                        </div>
                        <div class="col-lg-7">
                            <select id="selLoc" multiple="multiple" asp-for="UseLocation">
                                @foreach (var node in ViewBag.NodeList)
                                {
                                    var temp = "node" + @node.TypeId;
                                    if (Model.UseLocation.Contains(node.TypeId.ToString()))
                                    {
                                        <option id=@temp selected disabled>@node.TypeName</option>
                                    }
                                    else
                                    {
                                        <option id=@temp disabled>@node.TypeName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-9">
                            <label class="col-form-label" asp-for="IsCommercial"></label>
                        </div>
                        <div class="col-lg-3" style="display: flex; align-items: center; justify-content: center ">
                            <input id="isCommercial" asp-for="IsCommercial" class="custom-checkbox" type="checkbox" value="false" onclick="onClick(this)" disabled />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-9">
                            <label class="col-form-label" asp-for="IsNeedInspect"></label>
                        </div>
                        <div class="col-lg-3" style="display: flex; align-items: center; justify-content: center ">
                            <input id="isNeedInspect" asp-for="IsNeedInspect" class="custom-checkbox" type="checkbox" value="@Model.IsNeedInspect" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="InspectCycle"></label>
                        </div>
                        <div class="col-lg-7 d-flex">
                            <div class="col-lg-11">
                                <input id="inspectCycle" asp-for="InspectCycle" class="form-control" type="number" value="@Model.InspectCycle" disabled />
                            </div>
                            <div class="col-lg-1">
                                <label class="col-form-label">天</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-9">
                            <label class="col-form-label" asp-for="IsSpecial"></label>
                        </div>
                        <div class="col-lg-3" style="display: flex; align-items: center; justify-content: center ">
                            <input asp-for="IsSpecial" class="custom-checkbox" type="checkbox" value="false" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-9">
                            <label class="col-form-label" asp-for="IsKeySpare"></label>
                        </div>
                        <div class="col-lg-3" style="display: flex; align-items: center; justify-content: center ">
                            <input id="isKeySpare" asp-for="IsKeySpare" class="custom-checkbox" type="checkbox" value="false" onclick="onClick(this)" disabled />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row d-flex">
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="SafetyCount"></label>
                        </div>
                        <div class="col-lg-7">
                            <input asp-for="SafetyCount" class="form-control" type="number" value="@Model.SafetyCount" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-3">
                            <label class="col-form-label" asp-for="Placement"></label>
                            <span asp-validation-for="Placement" style="font-size:10px;font-weight:700" class="text-danger"></span>
                        </div>
                        <div class="col-lg-9">
                            <input id="placement" asp-for="Placement" class="form-control" type="text" value="@Model.Placement" />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="CreateUser"></label>
                        </div>
                        <div class="col-lg-7">
                            <input id="createUser" asp-for="CreateUser" class="form-control" type="text" value="@Model.CreateUser" disabled />
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex">
                        <div class="col-lg-5">
                            <label class="col-form-label" asp-for="Manager"></label>
                        </div>
                        <div class="col-lg-7">
                            <input id="manager" asp-for="Manager" class="form-control" type="text" value="@Model.Manager" disabled />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-2">
                            <label class="col-form-label" asp-for="Memo"></label>
                        </div>
                        <div class="col-lg-9">
                            <input asp-for="Memo" class="form-control" type="text" value="@Model.Memo" disabled />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-2" style="padding-left: 20px;">
                        <input id="btn" type="submit" class="btn btn-sm btn-primary" value="儲存" />
                        <a href="../Spare" style="margin-left: 10px; text-decoration: underline; ">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#selLoc").multiselect({
            enableClickableOptGroups: true
        });

        $('#form').submit(function (e) {
            e.preventDefault();

            var _isValid = $('#form').valid();
            if (_isValid) {
                $.blockUI();
                $.ajax({
                    type: "POST",
                    url: "/Spare/Edit",
                    dataType: 'json',
                    data: $("#form").serialize(),
                    success: function (result) {
                        if (result != '') {
                            alert(result);
                            $.unblockUI();
                        }
                        else {
                            alert('更新成功');
                            location.href = "/Spare/Index";
                        }
                    }
                });
            }
        });
    });
</script>