@model SampleViewModel


<h3>Sample明細　(@Html.DisplayNameFor(model => model.Details.First().PartNo): @Model.Details.First().PartNo)</h3>
<div class="d-flex align-content-center">
    <div><a style="background-color: #ad7211">入庫</a></div>
    <div><a style="background-color: #a9d182; margin-left: 4px;">領用</a></div>
    <div><a style="background-color: #ebdb63; margin-left: 4px;">檢驗</a></div>
    <div><a style="background-color: #ed7e45; margin-left: 4px; ">維修</a></div>
</div>
<div id="mydiv">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().PartNo)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().SerialNo)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().Status)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().PurchaseId)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().Spec)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().Placement)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().IsNeedInspect)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().InspectDate)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().NextInspectDate)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().IsOverdueInspect)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Details.First().IsTemporary)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Details)
            {
                var trid = @item.SerialNo + "tr";
                var overdueStyle = "";

                if (@item.IsOverdueInspect == "是")
                {
                    overdueStyle = "background-color:#fcdcdc";
                }

                <tr id="@trid" style="@overdueStyle">
                    <td id="partNo" class="row-data">@item.PartNo</td>
                    <td>@item.Name</td>
                    <td id="serialNo" class="row-data">@item.SerialNo</td>
                    @switch (item.StatusId)
                    {
                        case 1:
                            <td style="background-color: #ad7211">@item.Status</td>
                            break;
                        case 2:
                            <td style="background-color: #a9d182">@item.Status</td>
                            break;
                        case 3:
                            <td style="background-color: #ebdb63">@item.Status</td>
                            break;
                        case 4:
                            <td style="background-color: #ed7e45">@item.Status</td>
                            break;
                        default:
                            break;
                    }
                    <td>@item.PurchaseId</td>
                    <td>@item.Spec</td>
                    <td>@item.Placement</td>
                    <td>@item.IsNeedInspect</td>
                    <td>@item.InspectDate</td>
                    <td>@item.NextInspectDate</td>
                    <td>@item.IsOverdueInspect</td>
                    @if (item.IsTemporary == "是")
                    {
                        <td style="border-color: #ff2e2e; border-width: 2px; border-style: solid; ">@item.IsTemporary</td>
                    }
                    else
                    {
                        <td>@item.IsTemporary</td>
                    }
                    <td>
                        @{
                            if (item.StatusId == 1)
                            {
                                <input id="@item.SerialNo" type="button" onclick="onEditClick(this)" style="text-decoration:none;margin:5px;" class="btn btn-primary btn-sm" value="Edit" />
                            }
                            else
                            {
                                <input id="@item.SerialNo" type="button" disabled style="text-decoration:none;margin:5px;" class="btn btn-primary btn-sm" value="Edit" />
                            }
                        }
                        <input id="@item.SerialNo" type="button" onclick="onHistoryClick(this)" style="text-decoration:none;margin:5px;" class="btn btn-danger btn-sm" value="History" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script type="text/javascript">
    function onEditClick(e) {

        var _trid = "#" + e.id + "tr";

        var _partNo = $(_trid).find('#partNo').html();
        var _serialNo = $(_trid).find('#serialNo').html();

        var _url = "/Sample/Edit?partNo=" + _partNo + "&serialNo=" + _serialNo;

        location.href = _url;
    }

    function onHistoryClick(e) {

        var _url = "/History/History?categoryId=5&partNo=" + e.id;

        location.href = _url;

        //window.open(_url, '_blank');
    }

</script>