@model ExpendablesListViewModel


<table class="table table-hover table-bordered"">
    <thead>
        <tr>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().PartNo)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().Name)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().PurchaseId)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().Spec)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().IsKeySpare)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().IsCommercial)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().Placement)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().Inventory)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().SafetyCount)</th>
            @*<th scope="col">@Html.DisplayNameFor(model => model.Details.First().Memo)</th>*@
            <th class="sticky-th1"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Details)
        {
            <tr>
                <td class="row-data">@item.PartNo</td>
                <td class="row-data">@item.Name</td>
                <td class="row-data">@item.PurchaseId</td>
                <td class="row-data">@item.Spec</td>
                <td class="row-data">@item.IsKeySpare</td>
                <td class="row-data">@item.IsCommercial</td>
                <td class="row-data">@item.Placement</td>
                <td class="row-data">@item.Inventory</td>
                <td class="row-data">@item.SafetyCount</td>
                @*<td class="row-data">@item.Memo</td>*@
                <td>
                    <input id="@item.PartNo" type="button" onclick="onHistoryClick(this)" style="text-decoration:none;" class="btn btn-outline-danger btn-sm" value="History" />

                    @*<a href="Expendables/History?categoryId=1&partNo=@item.PartNo" target=_blank style="text-decoration:none;">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
