@model JigsListViewModel


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th class="sticky-th1">物料編號</th>
            <th class="sticky-th1">名稱</th>
            <th class="sticky-th1">採購編號</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().Spec)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().IsKeySpare)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().IsCommercial)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().Equipment)</th>
            @*<th>@Html.DisplayNameFor(model => model.Details.First().Placement)</th>*@
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().Count)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().Inventory)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().SafetyCount)</th>
            <th class="sticky-th1">@Html.DisplayNameFor(model => model.Details.First().Memo)</th>
            <th class="sticky-th1"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Details)
        {
            <tr>
                <td width="8%">@item.PartNo</td>
                <td width="10%">@item.Name</td>
                <td>@item.PurchaseId</td>
                <td width="9%">@item.Spec</td>
                <td width="5%">@item.IsKeySpare</td>
                <td width="5%">@item.IsCommercial</td>
                <td>@item.Equipment</td>
                @*<td>@item.Placement</td>*@
                <td>@item.Count</td>
                <td>@item.Inventory</td>
                <td width="5%">@item.SafetyCount</td>
                <td>@item.Memo</td>
                <td>
                    <input id="@item.PartNo" type="button" onclick="onDetailClick(this)" style="text-decoration:none;" class="btn btn-outline-success btn-sm" value="Detail" />

                    @*<a href="Expendables/History?categoryId=1&partNo=@item.PartNo" target=_blank style="text-decoration:none;">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
